/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/filedatabase
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/mysql/data
.DS_Store
/.DS_Store
vendor
/vendor
/backend/docker/mysql
